/* @import url('https://fonts.googleapis.com/css2?family=Arapey&family=Karla&display=swap'); */

@media(max-width:376px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: serif;
  }

  .social-media-links {
    display: none;
  }
  
  /* NavBar styling */
  .myNav {
    padding-right: 1em;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
  }

  .menu-icon {
    transform: scale(0.75);
    right: 1rem;
    position: fixed;
  }

  .bar1, .bar2, .bar3 {
    width: 60px;
    height: 8px;
    background-color: #D6D6D6;
    margin: 10px 0;
    transition: 0.3s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-18px, 15px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-9px, -8px) ;
  }
  
  .link-menu {
    background-color: #ffb74d;
    height: 5rem;
    position: absolute;
  }

  .dark {
    background-color: #0a192f;
    color: #ffb74d;
  }
  
  .navlink {
    display: none;
  }
  
  /* Element/Container Styling */
  p {
    color: #95f3ff;
    font-weight: 500;
    line-height: 2;
    font-size: 0.9rem;
  }
  
  /* Intro Section */
  .intro {
    background-color: inherit;
    margin-top: 25%;
    height: fit-content;
    width: min-content;
  }
  
  .intro h3 {
    font-size: 2rem;
    color: #07ede2;
    font-weight: 500;
  }
  
  #name{
    font-size: 3.25rem;
    color: 	#ffb74d;
  }
  .intro h1 {
    font-size: 3.5rem;
    color: 	#ffb74d;
  }
  
  .intro-name h1 {
    margin: auto;
  }
  
  #bio {
    display: none;
  }
  
  #hire-me {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 8em;
    margin-top: 1.5em;
    color: #07ede2;
    background-color: #0a192f3b;
    border-radius: 5px;
    border: 1px solid #daa049;
    transition: 0.3s ease-in-out;
  }
  
  #hire-me:hover {
    background-color: #173b6d56 ;
  }
  /* About Section */
  
  #about {
    margin: 15vh auto;
    margin-bottom: 0;
    height: fit-content;
    width: min-content;
    padding-bottom: 10vh;
  }
  
  #about p {
    margin-top: 10%;
  }
   
  h2 {
    color: #daa049;
  }

  #about h2, p {
    grid-column: 1/2;
  }


  #tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0;
  }
  
  #tech-list li {
    color: #dfffbc;
    list-style: none;
    font-size: 1rem;
    width: 7rem;
  }
  
  #headshot {
    display: none;
  }
  
  #headshot:hover {
    transform: translate(-0.3em, -0.3em);
    box-shadow: 5px 8px 5px rgb(50, 88, 122);
  }
  
  /* Work Section */
  
  #work {
    height: 100%;
    padding-bottom: 5vh;
    margin: 5vh;
  }
  
  #work p {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
  }
  
  .grid-long {
    grid-column: span 2;
    height: 100%;
  }
  
  .grid-img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
    background-color: white;
    border-radius: 5px;
  }
  
  .img-wrap {
    position: relative;
    display: inline-block;
  }
  
  .description {
    color: white;
    font-size: 0.5rem;

  }
  
  .img-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(62, 62, 62, 0.85);
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .project-name {
    color: #ffb74d;
    font-size: 1rem;
    margin-top: 2rem;
  }
  .img-wrap:hover .img-description-layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img-description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
  }
  
  .img-wrap:hover .img-description {
    transform: translateY(0);
  }
  
  
  /* Contact Section */
  #contact {
    height: 20vh;
  }
  
  #contact p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  #contact a {
    text-decoration: none;
    color: #4681b5;
  }
  
  .social-media-links-show {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    position: fixed;
    top: 1rem;
    z-index: 3;
    list-style: none;
  }

  .social-media-links-hide {
    display: none;
  }
  
  .social-media-links-show a {
    color: #0a192f ;
    font-size: 1.75rem;
  
  }


}


@media(min-width:376px) {


  .social-media-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    list-style: none;
    margin-left: 2rem;
  }
  
  .social-media-links a {
    color: #4681b5 ;
  }
  .social-media-links::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: rgb(233, 182, 105);
  }
  
  .social-media-links a i:hover {
    color: #95f3ff;
  }
  
  /* NavBar styling */
  .myNav {
    padding-right: 1em;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    background: rgb(255 183 77);
    transition: 0.5s ease-in-out;
  }
  
  .false {
    top: 0;
  }
  
  .navlink {
    float:right;
    color: #0a192f;
    margin: 1rem;
    font-size: 1.1rem;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 500;
    transition: background 0.25s ease-in;
    border: 2px solid rgba(255, 255, 255, 0);
  }
  
  .navlink:hover {
    background-color: #0a192f;
    color: #07ede2;
  }
  /* Element/Container Styling */
  p {
    color: #95f3ff;
    font-weight: 500;
    line-height: 2;
    font-size: 1.5rem;
  }
  
  i {
    padding: 0.5rem;
    transition: 0.3s;
    font-size: 2rem;
    text-decoration: none;
  }
  
  h2 {
    color: #ffb74d;
    font-size: 3rem;
  }
  
  
  /* Intro Section */
  .intro {
    background-color: inherit;
    margin-left: 10%;
    margin-top: 15%;
    height: 90vh;
  }
  
  .intro h3 {
    font-size: 2rem;
    color: #07ede2;
    font-weight: 500;
  }
  
  #name{
    font-size: 3rem;
    color: 	#ffb74d;
  }
  .intro h1 {
    font-size: 4rem;
    color: 	#ffb74d;
  }
  
  .intro-name h1 {
    margin: auto;
  }
  
  #bio {
    color: #29cadf;
    width: 48%;
    margin-top: 1.25em;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  #hire-me {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 8em;
    margin-top: 4%;
    color: #07ede2;
    background-color: #0a192f3b;
    border-radius: 5px;
    border: 1px solid #daa049;
    transition: 0.3s ease-in-out;
  }
  
  #hire-me:hover {
    background-color: #173b6d56 ;
  }
  /* About Section */
  
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    height: 100%;
    padding-bottom: 10vh;
  }
  
  #about p {
    margin-top: 10%;
  }
   
  #about h2, p {
    grid-column: 1/2;
  }
  
  #tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #tech-list li {
    color: #dfffbc;
    list-style: none;
    font-size: 1.5rem;
  }
  
  #headshot {
    height: 70%;
    width: 80%;
    margin: 1.5rem auto;
    transition: 0.3s ease-in-out;
    border: 1px solid #d6ecff;
  }
  
  #headshot:hover {
    transform: translate(-0.3em, -0.3em);
    box-shadow: 5px 8px 5px rgb(50, 88, 122);
  }
  
  /* Work Section */
  
  #work {
    /* margin-top: ; */
    height: 100%;
    padding-bottom: 5vh;
    margin-left: 10%;
  }
  
  #work p {
    width: 80%;
    margin-bottom: 2rem;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
  }
  
  .grid-long {
    grid-column: span 2;
    height: 100%;
  }
  
  .grid-img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
    background-color: white;
    border-radius: 5px;
  }
  
  .img-wrap {
    position: relative;
    display: inline-block;
  }
  
  .description {
    color: white;
    font-size: 1.3rem;
  }
  
  .img-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(62, 62, 62, 0.85);
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .project-name {
    color: #ffb74d;
    font-size: 3rem;
    margin-top: 1rem;
  }
  .img-wrap:hover .img-description-layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img-description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
  }
  
  .img-wrap:hover .img-description {
    transform: translateY(0);
  }
  
  
  /* Contact Section */
  #contact {
    margin-left: 10%;
    height: 20vh;
  }
  
  #contact p {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  #contact a {
    text-decoration: none;
    color: #4681b5;
  }
  
  foot p {
    color: #8d8d8d;
    text-align: right;
    font-size: 0.75rem;
  }
  
}



